<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-5">

      <form #f="ngForm"
            id="LoginForm"
            class="text-right"
            (ngSubmit)="onFormSubmit(f)">

        <!--this div mainly exists to left align the input elements-->
        <div id="InputContainer" class="text-left">
          <label for="username">User Name</label>
          <input ngModel
                 type="text"
                 id="username"
                 name="username"
                 class="form-control"
                 placeholder="Mr User">

          <label for="password">Password</label>
          <input ngModel
                 type="password"
                 id="password"
                 name="password"
                 class="form-control"
                 placeholder="*********">
        </div>
        <button class="btn btn-primary"
                type="submit"
                >Login</button>
      </form>


    </div>
  </div>
</div>
