<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-5">

      <form #f="ngForm"
            id="LoginForm"
            class="text-right"
            (ngSubmit)="onFormSubmit(f)">

        <div id="InputContainer" class="text-left">
          <!--<label for="username">Username</label>-->
          <input ngModel
                 type="text"
                 id="username"
                 name="username"
                 class="form-control"
                 placeholder="User Name">

          <!--<label for="password">Password</label>-->
          <input ngModel
                 type="password"
                 id="password"
                 name="password"
                 class="form-control"
                 placeholder="Password">
        </div>
        <button class="btn btn-primary"
                type="submit"
                >Login</button>
      </form>


    </div>
  </div>
</div>
