<h3>Devs only page</h3>
<p>Link to every page in the site</p>

<hr>
<h5>Site pages</h5>
<ul>
  <li><a [routerLink]="''">Home</a></li>
  <li><a [routerLink]="'/about'">About</a></li>
</ul>

<h5>User profile pages</h5>
<ul>
  <li><a [routerLink]="'/user/12'">User profile</a></li>
  <li><a [routerLink]="'/user/13/edit'">User profile editor</a></li>
  <li><a [routerLink]="'/user/13/tasks'">User task list</a></li>
</ul>

<h5>Admin pages</h5>
<ul>
  <li><a [routerLink]="'/admin'">Admin home</a></li>
  <li><a [routerLink]="'/admin/user-list'">Users list page</a></li>
</ul>






<!--<h5>Discussion board pages</h5>-->
<!--<ul>-->
  <!--<li><a [routerLink]="'/projects/12/tasks/3/discussions'">Discussion list</a></li>-->
  <!--<li><a [routerLink]="'/projects/12/tasks/3/discussions/31'">Discussion details</a></li>-->
  <!--<li><a [routerLink]="'/projects/12/tasks/3/discussions/create'">Discussion creator</a></li>-->
  <!--<li><a [routerLink]="'/projects/12/tasks/3/discussions/12/edit'">Discussion editor</a></li>-->
<!--</ul>-->
