<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-sm-12">
      <h3>Contest history</h3>

      <h5>User: John</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Rank</th>
          <th>Participants</th>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/contest/21'">
              Practice contest #9
            </a>
          </td>
          <td>61</td>
          <td>105</td>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/contest/21'">
              Practice contest #8
            </a>
          </td>
          <td>60</td>
          <td>100</td>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/contest/21'">
              Practice contest #7
            </a>
          </td>
          <td>50</td>
          <td>100</td>
        </tr>


      </table>


    </div>
  </div>
</div>
