<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="h4">Create New Announcement: </h4>
    </div>

    <div class="col-sm-12">
      <form
        #form= "ngForm"
        (ngSubmit)="formSubmit(form)"
        class="text-right">
        <div id="NewPost" class="text-left">
          <label for="AnnouncementTitle">Title</label>
          <input name="Title"
                 [ngModel]
                 class="form-control"
                 required type="text"
                 id="AnnouncementTitle">

          <label for="AnnouncementBody" class="mt-2">Description</label>

          <quill-editor
            name = "Description"
            id="AnnouncementBody"
            [ngModel]="''">

          </quill-editor>
          </div>

          <button
                  type="submit"
                  class="btn btn-dark mt-3">
            Create
          </button>
      </form>
    </div>
  </div>
</div>
