<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="h4">Create New Announcement: </h4>
    </div>

    <div class="col-sm-12">
      <form class="text-right" >
        <div id="NewPost" class="text-left">
          <!--- For editing the post title -->
          <label for="AnnouncementTitle">Announcement Title</label>
          <input name="an_title" class="form-control" required="yes" type="text" id="announce_title" placeholder="Provide a title to be posted">

          <!--- For editing the post body -->
          <label for="AnnouncementBody">Announcement Body</label>
          <textarea name="an_body" class="form-control" required="yes" type="text" id="announce_body" placeholder="Provide the body of the announcement"></textarea>
          <!--- Selecting/Reselecting post tags -->
          <label for="AnnouncementTags">Tags</label>
          <div>
            <input type="checkbox" name="contest_tag" value="contest">  contest 
            <input type="checkbox" name="contest_tag" value="maintaintence">  maintaintence 
            <input type="checkbox" name="contest_tag" value="update">  update 
            <input type="checkbox" name="contest_tag" value="new_problem">  new problem 
            <input type="checkbox" name="contest_tag" value="admin_post">  admin post 
          </div>

          <!--- Confirming password for all secured changes to announcements. -->
          <div id="PasswordInputContainer">
            <label for="Password">Password</label>
            <input id="Password" required="yes" type="password" name="password" class="form-control" placeholder="please provide your password">

            <label for="ConfirmPassword">Confirm password</label>
            <input id="ConfirmPassword" required="yes" type="password" name="confirm_password" class="form-control" placeholder="reconfirm your password">
          </div>
              <!--- Browse and update the attached image to the file. -->
              <label for="EditImage">Upload Image: </label>
              <div>                
                <img src="#" height="100" width="200"> <button type="button" class="btn btn-primary mt-3" (click)="browseBtnClickHandler()"> Browse </button>
              </div>
          </div>

           <!--- Submit changes / Cancel changes. -->
          <button type="submit" class="btn btn-primary mt-3" (click)="postBtnClickHandler(announcement_form)"> Publish </button>
          <button type="button" class="btn btn-primary mt-3 btn-danger" (click)="cancelBtnClickHandler()"> Cancel </button>
      </form>
    </div>
  </div>
</div>
