<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="h4">Create New Announcement: </h4>
    </div>

    <div class="col-sm-12">
      <form class="text-right" >
        <div id="NewPost" class="text-left">
          <label for="AnnouncementTitle">Title</label>
          <input name="an_title"
                 class="form-control"
                 required type="text"
                 id="AnnouncementTitle">

          <label for="AnnouncementBody" class="mt-2">Description</label>
          <shared-document-editor
            id="AnnouncementBody">
          </shared-document-editor>
          </div>

           <!--- Submit changes / Cancel changes. -->
          <button type="submit" class="btn btn-dark mt-3">Create</button>
      </form>
    </div>
  </div>
</div>
