

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="h3">Create a new Problem</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-sm">
      <form
        #form= "ngForm"
        (ngSubmit)="onCreateBtnClick(form)"
        class="mt-4">

        <div id="InputContainer" class="text-left">
          <label for="ProblemTitle">Title</label>
          <input name="Title"
               [ngModel]
               class="form-control mb-2"
               type="text" id="ProblemTitle">
        </div>

        <div class="form-group text-left">
          <label for="ProblemDetails">Description</label>
          <textarea name="Description"
                [ngModel]
                class="form-control"
                rows="5"
                cols="2"
                id="ProblemDetails"></textarea>
        </div>

        <div class="form-group text-left">
          <label for="ProblemConstraints">Constraints</label>
          <textarea name="Constraints"
                [ngModel]
                class="form-control"
                rows="5"
                cols="2"
                id="ProblemConstraints"></textarea>
        </div>

        <div class="form-group text-left">
          <label for="Input">Input</label>
          <textarea name="InputSpecification"
                    [ngModel]
                    class="form-control"
                    rows="3"
                    cols="2"
                    id="Input"></textarea>
        </div>

        <div class="form-group text-left">
          <label for="Output">Output</label>
          <textarea name="OutputSpecification"
                    [ngModel]
                    class="form-control"
                    rows="3"
                    cols="2"
                    id="Output"></textarea>
        </div>

        <div class="form-group text-left">
          <label for="SampleInput">Sample Input</label>
          <textarea name="SampleInput"
                [ngModel]
                class="form-control"
                rows="5"
                cols="2"
                id="SampleInput"></textarea>
        </div>

        <div class="form-group text-left">
          <label for="SampleOutput">Sample Output</label>
          <textarea name="SampleOutput"
                [ngModel]
                class="form-control"
                rows="5"
                cols="2"
                id="SampleOutput"></textarea>
        </div>

        <div class="form-group text-left">
          <label for="Note">Note</label>
          <textarea name="Note"
                [ngModel]
                class="form-control"
                rows="3"
                cols="2"
                id="Note"></textarea>
        </div>

        <label for="ContestType">Visibility</label>
        <select
          name="Visibility"
          [ngModel]="1"
          class="form-control mb-3"
          id="ContestType">
          <option selected value="0">Private</option>
          <option value="1">Public</option>
        </select>

        <div class="form-row mb-2">
          <div class="col-sm">
            <label for="TimeLimit">Time limit (s)</label>
            <input type="number"
                   [ngModel]
                   class="form-control"
                   id="TimeLimit"
                   name="TimeLimit">

          </div>

          <div class="col-sm">
            <label for="MemoryLimit">Memory limit (MB)</label>
            <input type="number"
                   [ngModel]
                   class="form-control"
                   id="MemoryLimit"
                   name="MemoryLimit">

          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-sm">
            <label class="col-form-label"  for="InputFIle">Input file</label>
            <input type="file"
                   class="form-control"
                   (change)="onTestCaseInputChange($event.target.files)"
                   id="InputFIle"
                   name="TestCaseInput">

          </div>

          <div class="col-sm">
            <label class="col-form-label" for="OutputFile">Output file</label>
            <input type="file"
                   (change)="onTestCaseOutputChange($event.target.files)"
                   class="form-control"
                   id="OutputFile"
                   name="TestCaseOutput">

          </div>
        </div>


        <div class="form-row">
          <div class="col-sm text-right">
            <!--<button class="btn btn-dark">Preview</button>-->
            <button
              type="submit"
              class="btn btn-dark">
              Create
            </button>
          </div>
        </div>


      </form>

    </div>
  </div>
</div>
