<!DOCTYPE html>
<html lang="en">
<head>
  <title>Member List</title>
</head>

<body>
<div class="jumbotron text-center">
  <h1>Member List</h1>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Member Name</th>
      <th>ID</th>
      <th>Email</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>1</td>
      <td><a href="/">Jon</a></td>
      <td>15-66-332323</td>
      <td>john@workspace.com</td>
    </tr>
    <tr>
      <td>2</td>
      <td><a href="/">Steve</a></td>
      <td>15-66-332324</td>
      <td>steve@workspace.com</td>
    </tr>
    <tr>
      <td>3</td>
      <td><a href="/">Harry</a></td>
      <td>15-66-332325</td>
      <td>harry@workspace.com</td>
    </tr>
    </tbody>

  </table>
</div>
</body>
</html>