<!--Expected to be uesd inside a form-->

<div class="form-row">
  <div class="col-sm-11">
    <input type="text"
           placeholder="Problem ID"
           #checklist_input
           id="ChecklistInput"
           class="form-control">

    <!--<ng-autocomplete-->
      <!--(selected)="Selected($event)"-->
      <!--[classes]="['form-control']"-->
      <!--[group]="group">-->
    <!--</ng-autocomplete>-->

  </div>

  <div class="col-sm-1 text-right">
    <button class="btn btn-dark font-weight-bold form-control"
            (click)="onAddProblemClick(checklist_input.value, $event)"
            type="button">
      +
    </button>
  </div>

</div>

<div class="form-row mt-2 ">
  <div class="col-sm px-2">
    <button
      (click)="onUpBtnClick($event)"
      class="form-control btn btn-dark btn-sm">
      Up
    </button>
  </div>

  <div class="col-sm">
    <button
      (click)="onDownBtnClick($event)"
      class="form-control btn btn-dark btn-sm">
      Down
    </button>
  </div>

  <div class="col-sm">
    <button
      (click)="onRemoveProblemClick($event)"
      class="form-control btn btn-danger btn-sm">
      Delete
    </button>
  </div>
</div>

<div class="form-row">
  <div class="col-sm">
    <table
          *ngIf="problem_list.length != 0; else no_problem_added_msg"
           id="ProblemsTable"
           class="table"
           style="width: 100%">
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Title</th>
        <th>Visibility</th>

      </tr>


      <tr *ngFor="let problem of problem_list; let idx = index"
          [ngClass]="{'selected-row': idx == selected_row}"
          (click)="onProblemRowClick(idx)">
        <td>
          {{idx | number_to_alphabet}}
        </td>

        <td>
          {{problem.Id}}
        </td>

        <td>
          <a
            target="_blank"
            [routerLink]="link_generator.problemDetails(problem.Id)">
            {{problem.Title}}
          </a>
        </td>

        <td>
          {{problem.IsPublic ? 'Public' : 'Private'}}
        </td>

      </tr>
    </table>

    <ng-template #no_problem_added_msg>
      <p class="text-center text-danger form-text">No problems added</p>
    </ng-template>

  </div>
</div>
