<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <form class="text-right mt-4">
        <div id="InputContainer" class="text-left">
          <label for="UserName">User Name</label>
          <input name="username"
                 class="form-control mb-2"
                 type="text" id="UserName"
                 placeholder="Mr_user">

          <label for="Email">Email</label>
          <input name="email"
                 class="form-control mb-2"
                 type="email" id="Email"
                 placeholder="user@usermail.com">

          <label for="Password">Password</label>
          <input name="password"
                 class="form-control mb-2"
                 type="password"
                 id="Password"
                 placeholder="**********">

          <label for="ConfirmPassword">Confirm Password</label>
          <input name="confirm_password"
                 class="form-control mb-2"
                 type="password"
                 id="ConfirmPassword"
                 placeholder="**********">
        </div>


        <button class="btn btn-primary">Register</button>

      </form>

    </div>
  </div>
</div>
