<div class="container">
  <div class="row">
    <div class="col-sm-8 mx-auto">

      <form
        class="text-left"
        #reg_form="ngForm"
        (ngSubmit)="onSubmitHandler(reg_form)">

          <label for="UserName">User Name</label>
          <input name="UserName"
                 [ngModel]
                 required
                 class="form-control mb-2"
                 type="text" id="UserName">

          <label for="Email">Email</label>
          <input name="Email"
                 [ngModel]
                 class="form-control mb-2"
                 type="email" id="Email">

          <label for="Password">Password</label>
          <input name="Password"
                 [ngModel]
                 class="form-control mb-2"
                 type="password"
                 id="Password">

          <label for="ConfirmPassword">Confirm Password</label>
          <input name="ConfirmPassword"
                 [ngModel]
                 class="form-control mb-2"
                 type="password"
                 id="ConfirmPassword">

        <div class="form-group text-right">
          <button class="btn btn-dark">
            Register
          </button>
        </div>


      </form>

    </div>
  </div>
</div>
