<div class="container">

  <div class="row mb-3">
    <div class="col text-right">
      <div *ngIf="user_service.isAuthorizedToCreateAnnouncements()">
        <a [routerLink]="'/announcements/create'"
           class="btn btn-sm btn-dark">
          Create
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Posted by</th>
          <th>Post date</th>
        </tr>

        <tr >
          <td style="text-align: left">
            <a [routerLink]="'/announcements/12'">Our contests are open and countdown starts</a>
          </td>

          <td>
            <a [routerLink]="'/user/12'">John</a>
          </td>
          <td>07/02/2018</td>
        </tr>

        <tr>
          <td style="text-align: left">
            <a [routerLink]="'/announcements/12'">New problems added!</a>
          </td>

          <td>
            <a [routerLink]="'/user/12'">Manosh</a>
          </td>
          <td>07/10/2018</td>
        </tr>
      </table>

    </div>
  </div>

</div>





