<div class="container">

  <div class="row mb-3">
    <div class="col-sm">
      <h3>Announcements</h3>
    </div>

    <div class="col-sm text-right">
      <div *ngIf="user_service.isAuthorizedToCreateAnnouncements()">
        <a [routerLink]="'/announcements/create'"
           class="btn btn-sm btn-dark">
          Create
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Posted by</th>
          <th>Post date</th>
        </tr>


        <tr *ngFor="let list_item of announcement_list">
          <td style="text-align: left">
            <a [routerLink]="link_generator.announcementDetails(list_item.Id)">
              {{list_item.Title}}
            </a>
          </td>

          <td>
            <a [routerLink]="link_generator.userDetails(list_item.CreatorId)">{{list_item.Creator}}</a>
          </td>
          <td>{{list_item.CreateDate | date}}</td>
        </tr>


      </table>

      <div class="text-center">
        <app-page-selector
          #PageSelector
          (PageNavigationClick)="onPageNavigationClick($event)"
          [current_page]="current_page"
          [total_items]="total_list_items"
          [items_per_page]="LIST_ITEMS_PER_PAGE">
        </app-page-selector>
      </div>

    </div>
  </div>

</div>





