  <div class="row mb-4">
    <div class="col-sm-12">
      <span class="form-inline float-right">
        <input type="text" class="form-control" placeholder="Search Post">
        <button class="btn btn-dark form-control ml-1">Search</button>
      </span>
    </div>
</div>


<table class="table">
	<tr>
		<th>ANNOUNCEMENT</th>
		<th>MODERATOR</th>
		<th>POSTED DATE</th>
	</tr>
	<tr >
		<td style="text-align: left"><a href="#">Our contests are open and countdown starts</a></td>
		<td><a href="#">Anonta</a></td>
		<td>07/02/2018</td>
	</tr>
	<tr>
		<td style="text-align: left"><a href="#">New problems added!</a></td>
		<td><a href="#">Manosh</a></td> 
		<td>07/10/2018</td>
	</tr>
</table>
