<!DOCTYPE html>
<html lang="en">
<head>
    <title>Problem Editor</title>
</head>

<body>
<div class="jumbotron text-center">
    <h1>Edit Problem</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <form class="text-right mt-4">
                <div id="InputContainer" class="text-left">
                    <label for="ProblemTitle">Project Title:</label>
                    <input name="Problem_Title"
                           class="form-control mb-2"
                           type="text" id="ProblemTitle"
                           placeholder="Title"
                           value="Given Length and Sum of Digits...">
                </div>
                <div class="form-group" class="text-left">
                    <label for="ProblemDetails">Problem Details/Description</label>
                    <textarea name="Problem_Details"
                              class="form-control"
                              rows="5"
                              cols="2"
                              id="ProblemDetails"
                              placeholder="Description of the Problem">You have a positive integer m and a non-negative integers.Your task is to find the smallest and the largest of the numbers that have length m and sum of digits s.The required numbers should be non-negative integers written in the decimal base without leading zeroes.</textarea>
                </div>
                <div class="form-group" class="text-left">
                    <label for="ProblemConstraints">Problem Constraints</label>
                    <textarea name="Problem_Constraints"
                              class="form-control"
                              rows="5"
                              cols="2"
                              id="ProblemConstraints"
                              placeholder="Description of Problem Constraints">I/O samples are separated by comma </textarea>
                </div>

                <div class="form-group" class="text-left">
                    <label for="SampleInput">Sample Input</label>
                    <textarea name="Sample_Input"
                              class="form-control"
                              rows="5"
                              cols="2"
                              id="SampleInput"
                              placeholder="Sample Input">2 15, 3 0</textarea>
                </div>

                <div class="form-group" class="text-left">
                    <label for="SampleOutput">Sample Output</label>
                    <textarea name="Sample_Output"
                              class="form-control"
                              rows="5"
                              cols="2"
                              id="SampleOutput"
                              placeholder="Sample Output">69 96, -1 -1</textarea>
                </div>

                <div class="form-group" class="text-left">
                    <label for="Note">Note</label>
                    <textarea name="Note"
                              class="form-control"
                              rows="3"
                              cols="2"
                              id="Note"
                              placeholder="Notes">Be careful. Input range can be up to 10^6.</textarea>
                </div>


                <div class="container" class="text-left">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>TimeLimit</th>
                            <th>MemoryLimit</th>
                            <th>Privacy</th>
                            <th>Output File</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input name="Time_Limit"
                                       class="form-control mb-2"
                                       type="text" id="TimeLimit"
                                       placeholder="In Seconds"
                                       value="1000 ms">
                            </td>
                            <td>
                                <input name="Memory_Limit"
                                       class="form-control mb-2"
                                       type="text" id="MemoryLimit"
                                       placeholder="In MB"
                                       value="260 MB">
                            </td>
                            <td style="overflow:visible;">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option value="Public">Public</option>
                                    <option value="private">private</option>
                                </select>

                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>


                <button class="btn btn-warning">Preview</button>
                <button class="btn btn-success">Save</button>

            </form>

        </div>
    </div>
</div>

</body>
</html>