

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="h3">Edit problem</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <app-error-message-list
        [error_messages]="error_messages">
      </app-error-message-list>
    </div>
  </div>

  <div class="row">

    <div class="col-sm">
      <form
        #form= "ngForm"
        (ngSubmit)="onUpdateBtnClick(form)"
        class="mt-4">

        <div id="InputContainer" class="text-left">
          <label for="ProblemTitle">Title</label>
          <input name="Title"
                 [ngModel]="problem_data.Title"
                 class="form-control mb-2"
                 type="text" id="ProblemTitle">
        </div>

        <div class="form-group text-left">
          <label for="ProblemDetails">Description</label>
          <quill-editor name="Description"
                        [ngModel]="problem_data.Description"
                        class="form-control"
                        id="ProblemDetails">
          </quill-editor>
        </div>

        <div class="form-group text-left">
          <label for="ProblemConstraints">Constraints</label>
          <quill-editor name="Constraints"
                        [ngModel]="problem_data.Constraints"
                        class="form-control"
                        id="ProblemConstraints"></quill-editor>
        </div>

        <div class="form-group text-left">
          <label for="Input">Input</label>
          <quill-editor name="InputSpecification"
                        [ngModel]="problem_data.InputSpecification"
                        class="form-control"
                        id="Input"></quill-editor>
        </div>

        <div class="form-group text-left">
          <label for="Output">Output</label>
          <quill-editor name="OutputSpecification"
                        [ngModel]="problem_data.OutputSpecification"
                        class="form-control"
                        rows="3"
                        cols="2"
                        id="Output">
          </quill-editor>
        </div>

        <div class="form-group text-left">
          <label for="SampleInput">Sample Input</label>
          <textarea name="SampleInput"
                    [ngModel]="problem_data.SampleInput"
                    class="form-control"
                    rows="5"
                    cols="2"
                    id="SampleInput"></textarea>
        </div>

        <div class="form-group text-left">
          <label for="SampleOutput">Sample Output</label>
          <textarea name="SampleOutput"
                    [ngModel]="problem_data.SampleOutput"
                    class="form-control"
                    rows="5"
                    cols="2"
                    id="SampleOutput"></textarea>
        </div>

        <div class="form-group text-left">
          <label for="Note">Note</label>
          <quill-editor name="Note"
                        [ngModel]="problem_data.Notes"
                        class="form-control"
                        rows="3"
                        cols="2"
                        id="Note"></quill-editor>
        </div>

        <label for="ContestType">Visibility</label>
        <select
          name="Visibility"
          [ngModel]="problem_data.IsPublic ? 1 : 0"
          class="form-control mb-3"
          id="ContestType">
          <option selected value="0">Private</option>
          <option value="1">Public</option>
        </select>

        <div class="form-row mb-2">
          <div class="col-sm">
            <label for="TimeLimit">Time limit (s)</label>
            <input type="number"
                   [ngModel]="problem_data.TimeLimit"
                   class="form-control"
                   id="TimeLimit"
                   name="TimeLimit">

          </div>

          <div class="col-sm">
            <label for="MemoryLimit">Memory limit (MB)</label>
            <input type="number"
                   [ngModel]="problem_data.MemoryLimit"
                   class="form-control"
                   id="MemoryLimit"
                   name="MemoryLimit">

          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-sm">
            <label class="col-form-label"  for="InputFIle">Input file</label>
            <input type="file"
                   class="form-control"
                   (change)="onTestCaseInputChange($event.target.files)"
                   id="InputFIle"
                   name="TestCaseInput">

          </div>

          <div class="col-sm">
            <label class="col-form-label" for="OutputFile">Output file</label>
            <input type="file"
                   (change)="onTestCaseOutputChange($event.target.files)"
                   class="form-control"
                   id="OutputFile"
                   name="TestCaseOutput">

          </div>
        </div>


        <div class="form-row">
          <div class="col-sm text-right">
            <!--<button class="btn btn-dark">Preview</button>-->
            <button
              type="submit"
              class="btn btn-dark">
              Update
            </button>
          </div>
        </div>


      </form>

    </div>
  </div>
</div>
