<div class="form-row">
  <div class="col-sm-11">
    <input type="text"
           #checklist_input
           id="ChecklistInput"
           class="form-control">
  </div>

  <div class="col-sm-1">
    <button class="btn btn-primary font-weight-bold"
            (click)="onAddCheckItemClick(checklist_input.value)"
            type="button">
      +
    </button>
  </div>

</div>

<div class="form-row">
  <div class="col-sm">
    <hr>
    <table class="table" style="width: 100%">
      <!-- idx is used to identify which item to remove when a remove button is clicked-->
      <tr *ngFor="let item of check_list; let idx = index">
        <td>{{item}}</td>
        <td class="text-right">
          <button class="btn btn-sm btn-danger font-weight-bold"
                  (click)="onRemoveCheckListItemClick(idx)">
            X
          </button>
        </td>
      </tr>
    </table>

  </div>
</div>
