<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="h3">
         {{(problem_id| number_to_alphabet) + ': '+problem_data.Title}}
      </h3>
    </div>

    <div class="col-sm-4 text-right">
      <a class="btn btn-sm btn-dark" [routerLink]="'/contest/12/problems/A/submit'">
        Submit
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm p-0">
      <app-problem-description
      [problem_data]="problem_data">
      </app-problem-description>
    </div>
  </div>
</div>
