<div class="container">

  <div class="row mb-3">
    <div class="col-sm-10">
      <h3 class="h3">{{contest_data.Title}}</h3>
    </div>

    <div  *ngIf="user_service.isAuthorizedToEditContest(contest_id)"
          class="col-sm-2 text-right pt-1">
      <a [routerLink]="link_generator.contestEditor(contest_id)"
         class="btn btn-sm btn-dark mr-1">
        Edit
      </a>

      <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="onDeleteBtnClick()">
        Delete
      </button>
    </div>

  </div>

  <div class="row">
    <div class="col-sm">
      <hr>
    </div>
  </div>

  <div class="row mb-5">
    <div
      *ngIf="contest_started
            || user_service.isAdmin
            || user_service.user_id == contest_data.CreatorId"
      class="col-sm">

      <a [routerLink]="link_generator.contestProblemList(contest_id)"
         class="btn form-control btn-dark">
        Problems
      </a>
    </div>

    <div class="col-sm">
      <a [routerLink]="link_generator.contestRankList(contest_id)"
         class="btn form-control btn-dark">
        Rank
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="link_generator.contestSubmissions(contest_id)"
         class="btn form-control btn-dark">
        Submissions
      </a>
    </div>

    <div class="col-sm">
      <!-- todo hide if user is already registered-->
      <a [routerLink]="link_generator.contestRegistration(contest_id)"
         class="btn btn-dark form-control">
        Registration
      </a>
    </div>

  </div>

  <div
    class="row mb-2" >
    <!--*ngIf="show_contest_end_count_down">-->
    <div class="col-sm h3 text-center">
      <span
      [ngClass]="{'text-hide' : !show_contest_end_count_down}">
        Time Left:

      <app-count-down
        (count_down_complete_event)="countDownFinishEventHandler()"
        [count_down_till]="count_down_till">

      </app-count-down>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 mx-auto">

      <table class="table text-left">
        <tr>
          <th>Start time</th>
          <td>{{contest_data.StartDate | date:'medium'}}</td>
        </tr>

        <tr>
          <th>End time</th>
          <td>{{contest_data.EndDate | date:'medium'}}</td>
        </tr>

        <tr>
          <th>Judge</th>
          <td>
            <a [routerLink]="link_generator.userDetails(contest_data.CreatorId)">
              {{contest_data.Creator}}
            </a>
          </td>
        </tr>

        <tr>
          <th>Type</th>
          <td>{{contest_data.IsPublic ? 'Public' : 'Private'}}</td>
        </tr>

      </table>

    </div>


  </div>
</div>
