<div class="container">

  <div class="row mb-3">
    <div class="col-sm-10">
      <h3 class="h3">{{contest_data.Title}}</h3>
    </div>

    <div  *ngIf="user_service.isAuthorizedToEditContest('12')"
          class="col-sm-2 text-right pt-1">
      <a [routerLink]="link_generator.contestEditor(contest_id)"
         class="btn btn-sm btn-primary mr-1">
        Edit
      </a>

      <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="onDeleteBtnClick()">
        Delete
      </button>
    </div>

  </div>

  <div class="row">
    <div class="col-sm">
      <hr>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-sm">

      <a [routerLink]="link_generator.contestProblemList(contest_id)"
         class="btn form-control btn-dark">
        Problems
      </a>
    </div>

    <div class="col-sm">
      <a [routerLink]="link_generator.contestRankList(contest_id)"
         class="btn form-control btn-dark">
        Rank
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="link_generator.contestSubmissions(contest_id)"
         class="btn form-control btn-dark">
        Submissions
      </a>
    </div>

    <div class="col-sm">
      <!-- todo hide if user is already registered-->
      <a [routerLink]="link_generator.contestRegistration(contest_id)"
         class="btn btn-dark form-control">
        Registration
      </a>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-8 mx-auto">

      <table class="table text-left">
        <tr>
          <th>Start time</th>
          <td>UTC 03.07.18 20:21:16</td>
        </tr>

        <tr>
          <th>Duration</th>
          <td>5Hr</td>
        </tr>

        <tr>
          <th>Judge</th>
          <td>
            <a [routerLink]="'/user/112'">Anonta</a>
          </td>
        </tr>

        <tr>
          <th>Type</th>
          <td>private</td>
        </tr>

        <tr>
          <th>Problems</th>
          <td>6</td>
        </tr>

        <tr>
          <th>Registered</th>
          <td>60</td>
        </tr>

        <tr>
          <th>Participants</th>
          <td>52</td>
        </tr>
      </table>

    </div>


  </div>
</div>
