<div class="container">

  <div class="row">
    <div class="col-sm">
      <h3 class="h3">Site stats</h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 mx-auto">
      <table class="table">
        <tr>
          <th>Total user</th>
          <td>103264</td>
        </tr>

        <tr>
          <th>Users online</th>
          <td>21564</td>
        </tr>

        <tr>
          <th>Total problems</th>
          <td>305</td>
        </tr>

        <tr>
          <th>Total contests</th>
          <td>54</td>
        </tr>

      </table>

    </div>
  </div>
</div>
