<div class="container">

  <div class="row">
    <div class="col-sm">
      <h3 class="h3">Site stats</h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 mx-auto">
      <a
        class="page-link"
        [routerLink]="link_generator.announcementCreator()">
        Create Announcement
      </a>

      <a
        class="page-link"
        [routerLink]="'/admin/user-list'">
        User List
      </a>

      <a
        class="page-link"
        [routerLink]="'/admin/problem-list'">
        Problem List
      </a>


    </div>
  </div>
</div>
