<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Creator</title>
</head>

<body>
<div class="jumbotron text-center">
    <h1>Edit Details</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <form class="text-right mt-4">
                <div id="InputContainer" class="text-left">
                    <label for="ProjectTitle">Project Title:</label>
                    <input name="Project_Title"
                           class="form-control mb-2"
                           type="text" id="ProjectTitle"
                           placeholder="Title"
                           value="Library Management System">
                </div>
                <div class="form-group" class="text-left">
                    <label for="ProjectDetails">Project Details/Description</label>
                    <textarea name="Project_Details"
                              class="form-control"
                              rows="5"
                              cols="2"
                              id="ProjectDetails"
                              placeholder="Description of your project">"A college library management is a project that manages and stores books information electronically according to students needs.
                        Modules:
                        Admin login: Admin is the one who administers the system by adding or removing e-books into and from the system respectively.
                        User login: Students have to register themselves into the system to create an account. After registering successfully, they can then login into the system by entering 10 digit mobile number and their email id.
                        Add and Update Books: The admin can add books to the system by entering the details of the books and can even update the details.
                        Search option: Admin and Students can even search for books by entering the name of the book.
                        View Order-The admin can view order for the books.
                        Place order- The students can place order for the books and simultaneously the quantity of the book ordered will be decremented.
                        Calculate Fine- The student can view the issue and expiry date for the book issued and can even calculate fine.</textarea>
                </div>

                <button class="btn btn-info">Save Changes</button>

            </form>

        </div>
    </div>
</div>

</body>
</html>