<div class="container">
	<div class="row">
		<div class="image">
			<img src="https://www.dc.uba.ar/events/icpc/2013/images/acm_icpc_logo.png">	<br><br>
		</div>
		<div class="col-sm-12">
      		<h4 class="h4">Welcome to the Online Judge</h4>
    	</div>
    	<div class="col-sm-12">
			Here you will find hundreds of problems. They are like the ones used during programming contests, and are available in HTML and PDF formats. You can submit your sources in a variety of languages, trying to solve any of the problems available in our database.<br><br>
		</div>
		<div class="col-sm-12">
			See the new Contest Rankings section at the Live Rankings link.<br><br>
		</div>
		<div class="col-sm-12">
			Now you can use the new Contests, Profile and My Submissions option on the left menu for easier navigation (the site will soon be update with more features and accessibilty).
			<br><br>
		</div>
		<div class="col-sm-12">
			Follow our competitive programmer's community <a href="https://www.facebook.com/groups/aiub.acm/">ACPC</a> on Facebook!!<br><br>
		</div>

		<div class="col-sm-12">
			Are you proud of your solutions? Do you have anything to show the rest of the problemsolvers? We're looking for people to help us in writing new problems for contests. Find 
			more information <a href="">here</a>.<br><br>
		</div>
	</div>
</div>	