<!--shared component that shows the following data given a Problem object as input-->
<!--Show the following details except -->
<!--Description (text area)-->
<!--Constraints (text area)-->
<!--Sample input (text area)-->
<!--Sample output (text area)-->
<!--Note (text area)-->
<!--Time limit (text) in seconds-->
<!--Memory limit (text area) in MB-->


<div class="container-fluid">

  <div class="row">
    <div class="col-sm">
      <!--description-->
      <h4 class="h4 section-header">Description</h4>
      <div class="description-section">
        <p>
          Once, after a stressful day, Chef decided to relax and visit a casino near his house to gamble. He feels lucky and he's going to bet almost all of his money.
        </p>
        <p>
          The game Chef is going to play in the casino consists of tossing a die with N faces twice. There is a number written on each face of the die (these numbers are not necessarily distinct). In order to win, Chef must get the number A on the first toss and the number B on the second toss of the die.
        </p>
        <p>
          The excited viewers want to know the probability that Chef will win the game. Can you help them find that number? Assume that Chef gets each face of the die with the same probability on each toss and that tosses are mutually independent.
        </p>
      </div>

      <h4 class="h4 section-header">Inputs</h4>
      <div class="description-section">
        <ul>
          <li>The first line of the input contains a single integer T denoting the number of test cases. The description of T test cases follows.</li>
          <li>The first line of each test case contains three space-separated integers N, A and B.</li>
          <li>The second line contains N space-separated integers x1,x2,…,xN denoting the numbers written on the faces of the die.</li>
        </ul>
      </div>

      <h4 class="h4 section-header">Outputs</h4>
      <div class="description-section">
        <p>For each test case, print a single line containing one real number — the probability that Chef will win. Your answer will be considered correct if its absolute error does not exceed 10<sup>−6</sup>.</p>
      </div>


      <h4 class="h4 section-header">Constraints</h4>
      <div class="description-section">
        <ul>
          <li>1≤T≤70</li>
          <li>1≤N≤10<sup>4</sup></li>
          <li>1≤A≤N</li>
          <li>1≤B≤N</li>
          <li>1≤x<sub>i</sub>>≤N for each valid i</li>
        </ul>
      </div>

      <h4 class="h4 section-header">Limits</h4>
      <div class="description-section">
        <table class="table-sm">
          <tr>
            <td><b>Time limit:</b></td>
            <td> 0.5s</td>
          </tr>
          <tr>
            <td><b>Memory limit:</b> </td>
            <td>50MB</td>
          </tr>
        </table>
      </div>

      <h4 class="h4 section-header">Sample input</h4>
      <div class="description-section">
<pre>
2
5 1 1
1 1 1 1 1
2 1 1
1 2
</pre>
      </div>

      <h4 class="h4 section-header">Sample output</h4>
      <div class="description-section">
<pre>
1.0000000000
0.2500000000
</pre>
      </div>

      <h4 class="h4 section-header">Notes</h4>
      <div class="description-section">
        This problem is too easy for hints.
      </div>
    </div>
  </div>
</div>
