<!--shared component that shows the following data given a Problem object as input-->
<!--Show the following details except -->
<!--Description (text area)-->
<!--Constraints (text area)-->
<!--Sample input (text area)-->
<!--Sample output (text area)-->
<!--Note (text area)-->
<!--Time limit (text) in seconds-->
<!--Memory limit (text area) in MB-->


<div class="container-fluid">

  <div class="row">
    <div class="col-sm">
      <!--description-->
      <h4 class="h4 section-header">Description</h4>
      <div class="description-section">
        {{problem_data.Description}}
      </div>

      <h4 class="h4 section-header">Inputs</h4>
      <div class="description-section">
        {{problem_data.InputSpecification}}
      </div>

      <h4 class="h4 section-header">Outputs</h4>
      <div class="description-section">
        {{problem_data.OutputSpecification}}
      </div>


      <h4 class="h4 section-header">Constraints</h4>
      <div class="description-section">
        {{problem_data.Constraints}}
      </div>

      <h4 class="h4 section-header">Limits</h4>
      <div class="description-section">
        <table class="table-sm">
          <tr>
            <td><b>Time limit:</b></td>
            <td>{{problem_data.TimeLimit}}s</td>
          </tr>
          <tr>
            <td><b>Memory limit:</b> </td>
            <td>{{problem_data.MemoryLimit}}MB</td>
          </tr>
        </table>
      </div>

      <h4 class="h4 section-header">Sample input</h4>
      <div class="description-section">
        <pre>{{problem_data.SampleInput}}</pre>
      </div>

      <h4 class="h4 section-header">Sample output</h4>
      <div class="description-section">
        <pre>{{problem_data.SampleOutput}}</pre>
      </div>

      <h4 class="h4 section-header">Notes</h4>
      <div class="description-section">
        {{problem_data.Notes}}
      </div>
    </div>
  </div>
</div>
