<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="h3">{{contest_data.Title}}</h3>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm">
      <hr>
      <h5>Contest description</h5>

      <div id="ContestRulesContainer"
           [innerHtml]="contest_data.Description">
      </div>

    </div>

  </div>

  <div class="row text-right">
    <div class="col-sm">
      <button class="btn btn-dark"
              (click)="onRegisterBtnClick()">
        Register
      </button>
    </div>
  </div>
</div>
