<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="h3">Practice contest #8</h3>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm">
      <hr>
      <h5>Contest rules</h5>

      <div id="ContestRulesContainer">
        <!--todo add content here-->
        <p >Contest rules go here</p>
      </div>
    </div>

  </div>

  <div class="row text-right">
    <div class="col-sm">
      <button class="btn btn-primary"
              (click)="onRegisterBtnClick()">
        Register
      </button>
    </div>
  </div>
</div>
