
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h3 class="h4">Create new task</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-10 mx-auto">
      <form class="text-right mt-4">
        <div id="InputContainer" class="text-left">
          <label for="UserName">Title</label>
          <input name="title"
                 ngModel
                 class="form-control mb-2"
                 type="text" id="UserName">

          <label for="TaskDescriptionInput">Description</label>
          <textarea class="form-control mb-3"
                    ngModel
                    rows="10"
                    id="TaskDescriptionInput"
                    name="description"></textarea>

          <label for="ChecklistInput">Checklist</label>
          <app-check-list-selector #checklist_elector
                                    id="ChecklistInput">
          </app-check-list-selector>

        </div>

        <button class="btn btn-primary mt-2"
        (click)="onCreateClick()">Create</button>

      </form>

    </div>
  </div>
</div>
