<div class="container">
  <div class="row">
    <div class="com-sm-12">
      <nav class="nav navbar nav-fill">

        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link"
              [routerLink]="'21'">
              Profile
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
              [routerLink]="'12/submissions'">
              Submissions
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
               [routerLink]="'12/contest-history'">
              Contests
            </a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

  <div class="row">
    <div class="com-sm-12">
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

