<div class="nav navbar nav-fill">

  <ul class="nav justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link active"
         data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="true"
        [routerLink]="'21'">
        Profile
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
         data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        [routerLink]="'12/submissions'">
        Submissions
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
         data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
         [routerLink]="'12/contest-history'">
        Contests
      </a>
    </li>
  </ul>

</div>

<hr>
<router-outlet></router-outlet>
