<div class="nav navbar nav-fill">

  <ul class="nav justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link active"
         data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="true"
        [routerLink]="link_generator.userDetails(user_id)">
        Profile
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
         data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        [routerLink]="link_generator.userSubmissions(user_id)">
        Submissions
      </a>
    </li>

    <!--<li class="nav-item">-->
      <!--<a class="nav-link"-->
         <!--data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"-->
         <!--[routerLink]="link_generator.userContestHistory(user_id)">-->
        <!--Contests-->
      <!--</a>-->
    <!--</li>-->

    <li class="nav-item">
      <a class="nav-link"
         data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
         [routerLink]="link_generator.userProblems(user_id)">
        Problems
      </a>
    </li>
  </ul>

</div>

<hr>
<router-outlet></router-outlet>
