<div class="container">
  <div class="row">

    <div class="col-sm">
      <h3>Contests</h3>
    </div>

    <div class="col-sm text-right" *ngIf="user_service.isAuthorizedToCreateContest()">

      <a [routerLink]="link_generator.contestCreator()"
          class="btn btn-sm btn-dark">
        Create
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="com-sm contest-table-container p-2">
      <!--running contests-->
      <h3 class="h4">Running</h3>
      <app-contest-list-table
        [contest_list]="running_contests"
        [show_registration_button]="false">
      </app-contest-list-table>

    </div>

  </div>

  <div class="row">
    <div class="com-sm contest-table-container p-2">
      <!--Up coming contests-->
      <h3 class="h4">Up coming</h3>
      <app-contest-list-table
        [contest_list]="upcoming_contests"
        [show_registration_button]="true">
      </app-contest-list-table>

    </div>

  </div>


  <div class="row">
    <div class="com-sm contest-table-container p-2">
      <!--past contests-->
      <div class="contest-table-container" *ngIf="show_past_contests;else show_past_contests_link">

        <h3 class="h4">Past contests</h3>
        <app-contest-list-table
          [contest_list]="past_contests"
          [show_registration_button]="false">
        </app-contest-list-table>
      </div>

      <div class="text-center">
        <app-page-selector
          (PageNavigationClick)="onPageNavigationClick($event)"
          [current_page]="current_page"
          [total_items]="total_list_items"
          [items_per_page]="LIST_ITEMS_PER_PAGE">
        </app-page-selector>
      </div>

      <ng-template
        #show_past_contests_link>
        <div class="text-center">
          <a (click)="onShowPastContestClick()"
             class="page-link">
            Show past contests
          </a>
        </div>
      </ng-template>

    </div>
  </div>
</div>
