<div class="container">
  <div class="row"
        *ngIf="user_service.isAuthorizedToCreateContest()">
    <div class="col-sm text-right">

      <a [routerLink]="'/contest/create'"
          class="btn btn-sm btn-dark">
        Create
      </a>
    </div>
  </div>

  <div class="row">
    <div class="com-sm contest-table-container p-2">
      <!--running contests-->
      <h3 class="h4">Running</h3>
      <app-contest-list-table
        [contest_list]="running_contests"
        [show_registration_button]="false">
      </app-contest-list-table>

      <!--Up coming contests-->
      <h3 class="h4">Up coming</h3>
      <app-contest-list-table
        [contest_list]="upcoming_contests"
        [show_registration_button]="true">
      </app-contest-list-table>


    </div>
  </div>
</div>
