<div class="container">
  <div class="row">
    <div class="com-sm-12 contest-table-container p-2">

      <!--running contests-->
      <h3 class="h4">Running</h3>
      <table class="table table-striped mb-4">
        <tr>
          <th>Title</th>
          <th>Start time</th>
          <th>Duration</th>
          <th>Judge</th>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/contest/11'">Practice contest #9</a>
          </td>
          <td>UTC 02.07.18 20:21:16 56</td>
          <td>6Hrs</td>
          <td>
            <a [routerLink]="'/user/112'">Anonta</a>
          </td>
        </tr>

      </table>

      <!--Up coming contests-->
      <h3 class="h4">Up coming</h3>
      <table class="table table-striped mb-4">
        <tr>
          <th>Title</th>
          <th>Start time</th>
          <th>Duration</th>
          <th>Judge</th>
          <th>Register</th>
        </tr>

        <tr>
          <td>
            <a [routerLink]="link_generator.contestLink(11)">Practice contest #10</a>
          </td>
          <td>UTC 02.07.18 20:21:16 56</td>
          <td>6Hrs</td>
          <td>
            <a [routerLink]="'/user/112'">Anonta</a>
          </td>
          <td>
            <a class="btn btn-sm btn-primary"
            [routerLink]="'/contest/12/register'">
              register
            </a>
          </td>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/contest/11'">Practice contest #11</a>
          </td>
          <td>UTC 03.07.18 20:21:16 56</td>
          <td>6Hrs</td>
          <td>
            <a [routerLink]="'/user/112'">Manosh</a>
          </td>
          <td>
            <a class="btn btn-sm btn-primary"
               [routerLink]="'/contest/12/register'">
              register
            </a>
          </td>
        </tr>

      </table>

      <!--past contests-->
      <h3 class="h4">Past contests</h3>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Start time</th>
          <th>Duration</th>
          <th>Judge</th>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/contest/11'">Practice contest #8</a>
          </td>
          <td>UTC 01.07.18 20:21:16 56</td>
          <td>6Hrs</td>
          <td>
            <a [routerLink]="'/user/112'">Swadhin</a>
          </td>
        </tr>

      </table>



    </div>
  </div>
</div>
