<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4 class="h4">Submit solution</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 mx-auto">
      <form

            #form= "ngForm"
            (ngSubmit)="submitBtnClickHandler(form)">
        <label for="ProblemCode">
          Problem
        </label>
        <input type="text"
               readonly
               id="ProblemCode"
               name="ProblemTitle"
               value="{{problem_data.Title}}"
               class="form-control mb-3">

        <label for="LanguageSelector">
          Language
        </label>
        <select id="LanguageSelector"
                name="ProgrammingLanguageId"
                [ngModel]
                class="form-control mb-3">

          <option
            *ngFor="let language of programming_languages"
            value="{{language.Id}}">
            {{language.Name}}
          </option>
        </select>

        <label for="CodeTextArea">
          Code
        </label>
        <textarea id="CodeTextArea"
                  rows="15"
                  name="SourceCode"
                  [ngModel]
                  class="form-control mb-3"></textarea>

        <div class="form-row">
          <div class="col-sm text-right">
            <button
              type="submit"
              class="btn btn-dark">
              Submit
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
