
<div class="container">


	<div class="row">


		<div class="col-sm-8 mx-auto">


			<form #form="ngForm" (submit)="onUpdateClick(form)">

				<div class="form-group">
					<label for="UserName">Username</label>
          <!--Intentionally not using ngModel on this input element-->
					<input type="text"
                 name="UserName"
                 id="UserName"
                 class="form-control mb-2"
                 value="{{user_data.UserName}}"
                 readonly/>
				</div>

				<div class="form-group">
					<label for="Email">E-mail</label>
					<input type="email"
                 [ngModel]="user_data.Email"
                 name="Email"
                 id="Email"
                 class="form-control mb-2"
                 required/>
				</div>

        <label for="UserType">User Type</label>

        <div class="mb-2"
             *ngIf="user_service.isAuthorizedToEditUserType()">
          <select name="UserType"
                  [ngModel]="user_data.UserTypeId"
                  id="UserType"
                  class="form-control">
            <option
              *ngFor="let user_type of user_types"
              value="{{user_type.Id}}">
              {{user_type.Name}}
            </option>
          </select>
        </div>

				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password"
                 [ngModel]
                 name="Password"
                 id="Password"
                 placeholder="Keep empty to preserve old password"
                 class="form-control mb-2"/>
				</div>

				<div class="form-group">
					<label for="conf-pass">Confirm Password</label>
					<input type="password"
                 [ngModel]
                 name="ConfirmPassword"
                 id="conf-pass"
                 placeholder="Keep empty to preserve old password"
                 class="form-control mb-2"
                 required/>
				</div>

				<div class="form-group text-right">
					<button class="btn btn-primary btn-dark">Update</button>
				</div>

			</form>


		</div>


	</div>


</div>
