<!-- 
<p>
  user-profile-editor works!
</p> 
-->


<div class="container">


	<div class="row">


		<div class="col-sm-12">


			<form name="" action="" method="">

				<table>
					<tr>
						<td>
							<a href="">
								<img src="" height="120px" width="82px">
							</a>
						</td>
						<td>
							<button class="btn btn-primary">
								Change
							</button>
						</td>
					</tr>
					<tr>
						<td>Name :</td>
						<td>
							<input type="text" name="name" value="Bob" />
						</td>
					</tr>
					<tr>
						<td>Mail :</td>
						<td>
							<input type="text" name="mail" value="Bob@abc.xyx" />
						</td>
					</tr>
	
					<tr>
						<td>Password :</td>
						<td>
							<input type="text" name="mail" value="********" />
						</td>
					</tr>
					<tr>
						<td>Confirm Password :</td>
						<td>
							<input type="text" name="mail" value="********" />
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" class="btn btn-primary" />
						</td>
					</tr>
				</table>

			</form>

		
		</div>


	</div>


</div>
