<!--
  THis component defines the general layout of the pages
  Where the sidebar, header, footer, body is etc
-->

<div id="Wrapper">

  <!--Todo remove true || -->
  <div *ngIf="true || user_service.userIsAuthenticated()">
    <app-sidebar id="SideBar"></app-sidebar>
  </div>

  <div id="ContainerDiv"
       class="container-fluid"
       [ngClass]="{ShiftContainerDivForSidebar : user_service.userIsAuthenticated()}" >

    <div class="row">
      <div class="col-sm-12 mx-auto mb-4">
        <app-header></app-header>
      </div>
    </div>

    <div id="PageContentDiv" class="row" style="min-height: 500px">
      <div class="col-sm-12">
        <router-outlet
          (activate)="routerOutletActivateEventHandler($event)">
        </router-outlet>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 mx-auto">
        <app-footer></app-footer>
      </div>
    </div>

  </div>

</div>
