#Wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
}

#SideBar{
  width: 250px;
  min-height: 100vh;
  float: left;
  /*position: fixed;*/

  padding: 10px;
  border-style: solid;

  transition: all 0.3s;
}

.sidebar-collapse{
  margin-left: -250px;
}


/*The main content needs to be shifted to make space for sidebar */
.ShiftContainerDivForSidebar{
  /*margin-left: 250px;*/
}
