#Wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 800px;
}

#SideBar{
  width: 250px;
  min-height: 100%;
  float: left;
  /*border-style: solid;*/

  transition: all 0.3s;
}

.sidebar-collapse{
  margin-left: -250px;
}


/*The main content needs to be shifted to make space for sidebar */
.ShiftContainerDivForSidebar{
  /*margin-left: 250px;*/
}
