<div class="container">
  <div class="row">
    <div class="col-sm-8 mx-auto text-left">

      <h3 class="h3">User List</h3>

      <table class="table mt-5">
        <tr>
          <th>User Name</th>
          <th>User Type</th>
        </tr>

        <tr *ngFor="let user of user_list">
          <td>
            <a class="" [routerLink]="'/users/'+user.Id">
              {{user.UserName}}
            </a>
          </td>

          <td>{{user.UserType}}</td>
        </tr>
      </table>


    </div>
  </div>
</div>
