<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="h3">{{contest_data.Title}}</h3>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-10 mx-auto">
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Title</th>
        </tr>

        <tr *ngFor="let problem of contest_data.Problems; let i= index;">
          <td>{{i | number_to_alphabet}}</td>
          <td>
            <a [routerLink]="link_generator.contestProblemDetails(contest_id, i)">
              {{problem.Title}}
            </a>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
