<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="h3">Practice contest #8</h3>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-10 mx-auto">
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Solve</th>
        </tr>

        <tr>
          <td>A</td>
          <td>
            <a [routerLink]="'/contest/8/problems/1'">
              Book keeping machine
            </a>
          </td>
          <td>50/98</td>
        </tr>

        <tr>
          <td>B</td>
          <td>
            <a [routerLink]="'/contest/8/problems/1'">
              Hidden sequence
            </a>
          </td>
          <td>10/51</td>
        </tr>

        <tr>
          <td>C</td>
          <td>
            <a [routerLink]="'/contest/8/problems/1'">
              Fork and knife
            </a>
          </td>
          <td>3/12</td>
        </tr>

        <tr>
          <td>D</td>
          <td>
            <a [routerLink]="'/contest/8/problems/1'">
              Queue sequencer
            </a>
          </td>
          <td>0/10</td>
        </tr>
      </table>
    </div>
  </div>
</div>
