<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Projects Module Implementation</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h5 class="h5">Description</h5>

      <div id="TaskDescriptionContainer">

        <p>
          Projects are essentially a collection of tasks to which projects members can be assigned.
          <br>
        </p>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="cal-sm-12 p-3 ChecklistDiv" >

      <h5 class="h5">Check List</h5>

      <div id="CheckListContainer" class="ChecklistDiv p-2 mx-auto">
        <label class="d-block">
          <input type="checkbox" checked #checkbox>
          <!--todo fix if elese does not work becaues checkbox.checked does not update if input element is updated-->
          <s *ngIf="!checkbox.checked; else without_strikethrough">
            Verify specification for inconsistency
          </s>

          <ng-template #without_strikethrough>
            Verify specification for inconsistency
          </ng-template>

        </label>

        <label class="d-block">
          <input type="checkbox" >
          Design classes
        </label>

        <label class="d-block">
          <input type="checkbox" >
          Implement members list page
        </label>

        <label class="d-block">
          <input type="checkbox" >
          Write end to end tests
        </label>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4 class="h4">Assignees</h4>

    </div>

  </div>

</div>
