<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Projects Module Implementation</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h5 class="h5">Description</h5>

      <div id="TaskDescriptionContainer">

        <p>
          Projects are essentially a collection of tasks to which projects members can be assigned.
          <br>
        </p>

      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12 ChecklistDiv" >

      <h5 class="h5">Check List</h5>

      <div id="CheckListContainer" class="ChecklistDiv p-2 mx-auto">
        <label class="d-block">
          <input type="checkbox" checked #checkbox>
          <!--todo fix if elese does not work becaues checkbox.checked does not update if input element is updated-->
          <s *ngIf="!checkbox.checked; else without_strikethrough">
            Verify specification for inconsistency
          </s>

          <ng-template #without_strikethrough>
            Verify specification for inconsistency
          </ng-template>

        </label>

        <label class="d-block">
          <input type="checkbox" >
          Design classes
        </label>

        <label class="d-block">
          <input type="checkbox" >
          Implement members list page
        </label>

        <label class="d-block">
          <input type="checkbox" >
          Write end to end tests
        </label>

      </div>
    </div>

  </div>

  <div class="row mb-3">
    <div class="col-sm-12">
      <h5 class="h5">Assignees</h5>
      <ul class="list-group">
        <a [routerLink]="'/user/21'">
          <li class="list-group-item">
            Manosh
          </li>
        </a>
      </ul>

      <ul class="list-group">
        <a [routerLink]="'/user/21'">
          <li class="list-group-item">
            Bob
          </li>
        </a>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="col-sm">
      <h5 class="h5">Subtasks</h5>

      <table class="table">
        <tr>
          <th>Title</th>
          <th>Completion</th>
          <th>Status</th>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/projects/12/tasks/23'">
              Project list view
            </a>
          </td>
          <td>100%</td>
          <td>Done</td>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/projects/12/tasks/23'">
              Project details view
            </a>
          </td>
          <td>53%</td>
          <td>Done</td>
        </tr>

        <tr>
          <td>
            <a [routerLink]="'/projects/12/tasks/23'">
              Project authorization checker
            </a>
          </td>
          <td>10%</td>
          <td>Done</td>
        </tr>
      </table>

    </div>
  </div>
</div>
