<div class="container">
  <div class="row mb-2">
    <div class="col-sm">
      <h3 class="h3">Submission history</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <app-submissions-table
        (onStatusUpdateRequest)="onSubmissionListUpdate()"
        [submissions]="submission_list">
      </app-submissions-table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm text-center">
      <app-page-selector
        (PageNavigationClick)="onNavigationPageClick($event)"
        [items_per_page]="LIST_ITEMS_PER_PAGE"
        [total_items]="total_list_items"
        [current_page]="current_page">
      </app-page-selector>
    </div>
  </div>
</div>
