<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project List</title>
</head>

<body>
<div class="jumbotron text-center">
    <h1>Project List</h1>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Members</th>
            <th>Work Done</th>
            <th>Dead Line</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>1</td>
            <td><a href="/">Disaster management</a></td>
            <td>8 members</td>
            <td>35%</td>
            <td>18-08-19</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="/">Money Transaction System</a></td>
            <td>15 members</td>
            <td>45%</td>
            <td>18-08-19</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="/">Tank shooting game</a></td>
            <td>90 members</td>
            <td>59%</td>
            <td>18-08-19</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="/">Farmer Info</a></td>
            <td>15 members</td>
            <td>21%</td>
            <td>18-08-19</td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>