<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="h3">{{problem_data.Title}}</h3>
    </div>

    <div class="col-sm-4 text-right">
    <!--functions accessible to admins only -->
      <span *ngIf="user_service.isAuthorizedToEditProblem('121')">
        <button class="btn btn-sm btn-danger"
                type="button"
                (click)="onDeleteBtnClick()">
          Delete
        </button>

        <a class="btn btn-sm btn-dark" [routerLink]="link_generator.problemEdit(problem_id)">
          Edit
        </a>
      </span>

      <a class="btn btn-sm btn-dark" [routerLink]="link_generator.problemSubmit(problem_id)">
        Submit
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <app-problem-description
        [problem_data]="problem_data">
      </app-problem-description>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <hr>
      <!--problem info separator-->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <h4>Info</h4>

      <table class="table table-sm">
        <tr>
          <th>Author</th>
          <td>
            <a [routerLink]="link_generator.userDetails(problem_data.CreatorId)">
              {{problem_data.Creator}}
            </a>
          </td>
        </tr>

        <!-- todo implement:-->
        <tr>
          <th>Success</th>
          <td>90/301</td>
        </tr>

        <tr>
          <th>Create date</th>
          <td>07/11/2018</td>
        </tr>
      </table>

      <div class="text-center">
        <a [routerLink]="link_generator.problemSubmissions(problem_data.Id)">
          Submissions
        </a>
      </div>

    </div>

    <div *ngIf="user_service.isAuthorizedToAccessProblemFiles(problem_id)"
         class="col-sm-6">
      <h4>Files</h4>
      <a href="{{link_generator.problemInputFile(problem_id)}}">
        Input file
      </a>

      <br>
      <a href="{{link_generator.problemOutputFile(problem_id)}}">
        Output file
      </a>
    </div>

  </div>
</div>
