<div class="container">
	<div class="row">
		<div class="col-sm-12">
      		<h4 class="h4">About us: </h4>
    	</div>
	</div>	
<!-- This portion will provide details about us. -->
	<div class="row">
		<div class="col-sm-12" style="font-size: 14px">
      		<div style="font-style: italic;">"Bad programmers worry about the code. Good programmers worry about data structures and their relationships."  - Linus Torvalds. <br/><br/></div>
      		<div >
      			<span>
      				<p>Visit and join our facebook page: <a href="https://www.facebook.com/groups/aiub.acm">AIUB Competitive Programmers Community</a></p>
					<p>This is project of students from <a href="http://www.aiub.edu/">American International University - Bangladesh</a></p>
					<p>If you have any queries, please call: +8801711111111</p>
					<p>For feedback, please send an email to: <a href="mailto:manosh.office015@gmail.com?subject=Regarding ACPC site">manosh.office015@gmail.com</a></p>
					<p>Thank you for visiting. Solve more problems every day!</p>
      			</span>      			
      		</div>      			
    	</div>
	</div>	
</div>	