<nav id="SidebarContainer"
     class="navbar-light">

  <p class="h3">Sidebar</p>

  <hr>
  <ul class="list-unstyled sidebar-link-group">

    <li><a [routerLink]="'/projects'">Projects</a></li>
    <li><a [routerLink]="'/user/12/tasks'">My Tasks</a></li>

  </ul>

  <!--todo admin page links should be visible only if the is an admin-->
  <hr>
  <ul class="list-unstyled sidebar-link-group">
    <li>
      <a [routerLink]="'admin'">Admin</a>
    </li>

    <li>
      <a [routerLink]="'admin/user-list'">Users</a>
    </li>

  </ul>

  <hr>
  <a [routerLink]="'devs-only'">Devs only</a>

</nav>
