<nav id="SidebarContainer"
     class="">

  <p class="h3">Sidebar</p>

  <hr>
  <ul class="list-unstyled">

    <li>Projects</li>
    <li>Tasks</li>

    <li class="active">
      <a href="#homeSubmenu" data-toggle="" aria-expanded="false" class="dropdown-toggle">Home</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Home 1</a>
        </li>
        <li>
          <a href="#">Home 2</a>
        </li>
        <li>
          <a href="#">Home 3</a>
        </li>
      </ul>
    </li>

  </ul>

</nav>
