<nav id="SidebarContainer"
     class="navbar-light">

  <p class="h3">Sidebar</p>

  <hr>
  <ul class="list-unstyled sidebar-link-group">

    <li>
      <a
        class="page-link"
        [routerLink]="link_generator.userSubmissions(user_service.user_id)">
        My Submissions
      </a>
    </li>

    <li>
      <a
        class="page-link"
        [routerLink]="link_generator.userProblems(user_service.user_id)">
        My Problems
      </a>
    </li>


  </ul>

  <!--todo admin page links should be visible only if the is an admin-->

  <div *ngIf="user_service.user.isAdmin">
    <hr>
    <ul class="list-unstyled sidebar-link-group">
      <li>
        <a
          class="page-link"
          [routerLink]="'admin'">Admin</a>
      </li>

    </ul>
  </div>

</nav>
