<!DOCTYPE html>
<html lang="en">
<head>
  <title>Problem List</title>
</head>

<body>
<div class="jumbotron text-center">
  <h1>Problem List</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <form class="text-right mt-4">
        <div class="container" class="text-left">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Title</th>
              <th>Accept Count</th>
              <th>Success Ratio</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="#">Chess For Three</a></td>
              <td>99</td>
              <td>56%</td>
            </tr>
            <tr>
              <td><a href="#">Beautiful Divisors</a></td>
              <td>206</td>
              <td>82%</td>
            </tr>
            <tr>
              <td><a href="#">Find The Bone</a></td>
              <td>23</td>
              <td>07%</td>
            </tr>

            <tr>
              <td><a href="#">Oath of the Night's Watch</a></td>
              <td>399</td>
              <td>90%</td>
            </tr>

            <tr>
              <td><a href="#">Stones on the Table</a></td>
              <td>80</td>
              <td>36%</td>
            </tr>

            <tr>
              <td><a href="#">Regular Bracket Sequence</a></td>
              <td>506</td>
              <td>93%</td>
            </tr>

            </tbody>
          </table>
        </div>

      </form>

    </div>
  </div>
</div>

</body>
</html>

