<div class="container">
  <div class="row mb-2">
    <div class="col-sm-10">
      <h3 class="h3">Profile</h3>
    </div>

    <div class="col-sm-2 text-right">
      <a [routerLink]="'/user/21/edit'"
          class="btn btn-sm btn-dark">
        Edit
      </a>
    </div>
  </div>

	<div class="row">
		<div class="col-sm-8 mx-auto">
      <table class="table ">
        <tr>
          <th>User name</th>
          <td>John</td>
        </tr>

        <tr>
          <th>Title</th>
          <td>Peasant</td>
        </tr>

        <tr>
          <th>Email</th>
          <td>john@jamal.com</td>
        </tr>

      </table>

		</div>
	</div>
</div>
