<div class="container">
  <div class="row mb-2">
    <div class="col-sm-10">
      <h3 class="h3">Profile</h3>
    </div>

    <div class="col-sm-2 text-right">
      <a [routerLink]="link_generator.userProfileEditor(user_id)"
          class="btn btn-sm btn-dark">
        Edit
      </a>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm text-center">
      <img class="avatar-img" style="height: 100px; width: 100px;"
        src="https://www.ischool.berkeley.edu/sites/default/files/styles/profile_photo/public/default_images/avatar.jpeg?itok=CWMQiefO"
        alt="">
    </div>
  </div>


	<div class="row">
		<div class="col-sm-8 mx-auto">
      <table class="table ">
        <tr>
          <th>User Name</th>
          <td>{{user_data.UserName}}</td>
        </tr>

        <tr>
          <th>User Type</th>
          <td>{{user_data.UserType}}</td>
        </tr>

        <tr>
          <th>Email</th>
          <td>{{user_data.Email}}</td>
        </tr>

      </table>

		</div>
	</div>
</div>
