<div class="container">
  <div class="row">
    <div class="col-sm text-right">
      <a [routerLink]="'21/edit'"
          class="btn btn-sm btn-dark">
        Edit
      </a>
    </div>
  </div>

	<div class="row">
		<div class="col-sm">
      <table class="table table-sm">
        <tr>
          <th>User name</th>
          <td>John</td>
        </tr>

        <tr>
          <th>Title</th>
          <td>Peasant</td>
        </tr>

        <tr>
          <th>Email</th>
          <td>john@jamal.com</td>
        </tr>


      </table>

		</div>
	</div>
</div>
