<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Success(%)</th>
  </tr>

  <tr>
    <td>
      <a [routerLink]="'/problem/12'">
        Naive Chef
      </a>
    </td>

    <td>
      40
    </td>
  </tr>


  <tr>
    <td>
      <a [routerLink]="'/problem/12'">
        Path Permutations
      </a>
    </td>

    <td>
      23
    </td>
  </tr>

  <tr>
    <td>
      <a [routerLink]="'/problem/12'">
        Grass cutter
      </a>
    </td>

    <td>
      10
    </td>
  </tr>
</table>
