<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>New Problems added!</h3>
    </div>

    <div class="col-sm-4 text-right">

      <div *ngIf="user_service.isAuthorizedToCreateAnnouncements()">
        <button (click)="onDeleteBtnClick()"
                type="button"
                class="btn btn-sm btn-danger">
          Delete
        </button>
        <a [routerLink]="'/announcements/2/edit'"
           class="btn btn-sm btn-dark">
          Edit
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p>
        Posted by: <a [routerLink]="'/user/12'">Manosh</a>
        <br>
        Date Posted on: 07/10/2018</p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div>
        <p>We have added new problems to out site. Please browse through the problems and check them out!
          Currently working on adding more contests. We will notify you when more problems are available</p>
      </div>

    </div>
  </div>
</div>


