
<table class="table">
	<tr >
		<th  colspan="10"><h3>New Problems added!</h3>
	</tr>
	<tr colspan="5">
		<th style="font-size: 16px; text-align: left" colspan="5">Posted by: <i> <a href="#">Manosh</a></i></th>
		<th style="font-size: 16px; text-align: left" colspan="5">Date Posted on: 07/10/2018</th>
	</tr>
	<tr>
		<td style="text-align: justify;" colspan="5">
      		We have added new problems to out site. Please browse through the problems and check them out!
			Currently working on adding more contests. We will notify you when more problems are available.
			<br/>
		</td>
		<td colspan="2"><i>Tags: admin notice</i></td>
		<td colspan="3">
			<a href="">
				<img src="" height="120px" width="82px">
			</a>
		</td> 
	</tr>	
</table>	

<div class="btn btn-sm btn-dark" style="width: 120px;">
	Go Back
</div>
