<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>{{announcement.Title}}</h3>
    </div>

    <div class="col-sm-4 text-right">

      <div *ngIf="user_service.isAuthorizedToCreateAnnouncements()">
        <button (click)="onDeleteBtnClick()"
                type="button"
                class="btn btn-sm btn-danger">
          Delete
        </button>
        <a [routerLink]="link_generator.announcementEdit(announcement.Id)"
           class="btn btn-sm btn-dark">
          Edit
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p>
        Posted by: <a [routerLink]="link_generator.userDetails(announcement.CreatorId)">
        {{announcement.Creator}}
      </a>
        <br>
        Posted on: {{announcement.CreateDate | date}}
      </p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div>
        <div [innerHtml]="announcement.Description">
        </div>

      </div>

    </div>
  </div>
</div>


