<nav id="Header"
     class="nav navbar-expand-lg navbar-light bg-light mt-2">

  <a class="navbar-brand" routerLink=""> <h3>Online Judge</h3></a>

    <ul class="nav nav-fill mt-1">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/'">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/contest'">
          Contests
        </a>

      </li>

      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="link_generator.problemList()">
          Problem set
        </a>

      </li>
    </ul>

  <div id="LoginRegisterLinkContainer" class="ml-auto mt-2">

    <div *ngIf="!user_service.userIsAuthenticated()"
         class="form-inline float-right">
      <a class="nav-item btn btn-primary btn-sm mx-2"
         routerLink="/login">Login</a>
      <a class="nav-item btn btn-primary btn-sm mx-2"
         routerLink="/register">Register</a>

    </div>

    <div *ngIf="user_service.userIsAuthenticated()"
         class="form-inline float-right">

      <a [routerLink]="'/user/22'">{{user_service.user.username}}</a>
      <a class="nav-item btn btn-primary btn-sm mx-2"
         routerLink="/"
         (click)="onLogoutClick()">

        Logout
      </a>
    </div>

  </div>

</nav>
