<table class="table table-striped">
  <tr>
    <th>Problem Title</th>
    <th>User</th>
    <th>Language</th>
    <th>Verdict</th>
    <th>Submit Time</th>
    <th>Time (s)</th>
    <th>Memory (MB)</th>
  </tr>

  <tr *ngFor="let submission of submissions">
    <td>
      <a [routerLink]="link_generator.problemDetails(submission.ProblemId)">
        {{submission.ProblemTitle}}
      </a>
    </td>
    <td>
      <a [routerLink]="link_generator.userDetails(submission.UserId)">
        {{submission.UserName}}
      </a>
    </td>
    <td>{{submission.ProgrammingLanguage}}</td>
    <td>{{submission.Status}}</td>
    <!--todo change date format-->
    <td>{{submission.SubmissionDate | date}}</td>

    <td>{{submission.RunningTime}}</td>
    <td>{{submission.PeakMemoryUsage}}</td>
  </tr>

</table>
