<table class="table table-striped">
  <tr>
    <th>Problem Title</th>
    <th>User</th>
    <th>Language</th>
    <th>Verdict</th>
    <th>Submit Time</th>
    <th>Time (s)</th>
    <th>Memory (MB)</th>
  </tr>

  <tr>
    <td>
      <a [routerLink]="'/problem/233'">
        Longest path home
      </a>
    </td>
    <td>
      <a [routerLink]="'/user/33'">
        John
      </a>
    </td>
    <td>C++</td>
    <td>Queued</td>
    <td>5s ago</td>
    <td>-</td>
    <td>-</td>
  </tr>

  <tr>
    <td>
      <a [routerLink]="'/problem/233'">
        Longest path home
      </a>
    </td>
    <td>
      <a [routerLink]="'/user/33'">
        John
      </a>
    </td>
    <td>C++</td>
    <td>Running</td>
    <td>39s ago</td>
    <td>-</td>
    <td>-</td>
  </tr>

  <tr>
    <td>
      <a [routerLink]="'/problem/233'">
        Longest path home
      </a>
    </td>
    <td>
      <a [routerLink]="'/user/33'">
        John
      </a>
    </td>
    <td>C++</td>
    <td>Wrong Answer</td>
    <td>10min ago</td>
    <td>.03</td>
    <td>6</td>
  </tr>

  <tr>
    <td>
      <a [routerLink]="'/problem/233'">
        Longest path home
      </a>
    </td>
    <td>
      <a [routerLink]="'/user/33'">
        John
      </a>
    </td>
    <td>C++</td>
    <td>Wrong Answer</td>
    <td>15min ago</td>
    <td>0.05</td>
    <td>8</td>
  </tr>

  <!--<td></td>-->
  <!--<td>Longest path home</td>-->

</table>
