<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <h3 class="h3">Practice contest #8</h3>
      <p class="h4">Starts in</p>

      <p class="h1" *ngIf="show_count_down; else dash_time_text">
        <app-count-down

          (count_down_complete_event)="onCountDownComplete()"
          [count_down_till]="contest_start_time">
        </app-count-down>
      </p>

      <ng-template #dash_time_text>
        <p class="h1">
          -:-:-
        </p>
      </ng-template>

    </div>
  </div>
</div>
