<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="h4">New contest</h4>

    </div>

    <div class="col-sm-12">


      <form class="text-right" #reg_form="ngForm">
        <div id="InputContainer" class="text-left">
          <label  for="UserName">Title</label>

          <input name="title"
                 ngModel
                 required
                 class="form-control"
                 type="text" id="UserName"
                 placeholder="">

          <label for="DescriptionTextArea">Description</label>
          <textarea class="custom-control-input"
                    ngModel
                    required
                    name="description"
                    class="form-control"
                    rows="5"
                    id="DescriptionTextArea"></textarea>

          <!--time selection-->
          <div id="DateTimeFormInputGroup" class="form-row mb-2">
            <div class="col">
              <label for="StartDatePicker">Start time</label>
              <input type="datetime-local"
                     class="form-control"
                     id="StartDatePicker">
            </div>

            <div class="col">
              <label for="EndDatePicker">End time</label>
              <input type="datetime-local"
                     class="form-control"
                     id="EndDatePicker">
            </div>

          </div>

          <label for="ProblemIdInput" class="mt-2">Problems</label>
          <div class="form-row mb-2">
            <div class="col-sm-11">
              <div class="ProblemSetSelection">
                <input
                  id="ProblemIdInput"
                  class="form-control"
                  placeholder="Problem code"
                  type="text">

              </div>
            </div>

            <div class="col-sm-1">
              <!--button for adding problems to the contest-->
              <button type="button"
                      class="form-control btn-primary font-weight-bold"
                      (click)="onAddProblemClickHandler($event)">
                +
              </button>
            </div>
          </div>

          <!--todo move to another component-->
          <div class="form-row pl-3 pr-3">
            <table class="table">
              <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Success Ratio</th>
              </tr>

              <tr *ngFor="let problem of problem_list">
                <td>{{problem}}</td>
                <td>
                  <a href="#">Problem title goes here</a>
                </td>
                <td>35.9%</td>

                <!--button for removing -->
                <td class="text-right">
                  <button class="btn btn-danger btn-sm font-weight-bold"
                          (click)="removeProblemClickHandler()">
                    X
                  </button>
                </td>
              </tr>
            </table>
          </div>

          <label for="ContestType">Type</label>
          <select
            #contest_type_selector
            id="ContestType"
            class="form-control mb-2">
            <option selected value="select">Select</option>
            <option value="private">Private</option>
            <option value="public">Public</option>
          </select>

          <!--// todo fix visibility-->
          <!--<div id="PasswordInputContainer" [ngClass]="{'hidden' : contest_type != 'private'}">-->
          <div id="PasswordInputContainer">
            <label for="Password">Password</label>
            <input id="Password"
                   ngModel
                   type="password"
                   class="form-control">

            <label for="ConfirmPassword">Confirm password</label>
            <input id="ConfirmPassword"
                   ngModel
                   type="password"
                   class="form-control">
          </div>

        </div>

        <button class="btn btn-primary mt-3">
          Create
        </button>

      </form>

    </div>

  </div>
</div>
