<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="h4">New contest</h4>

    </div>

    <div class="col-sm-12">


      <form class="text-right" #contest_form="ngForm">
        <div id="InputContainer" class="text-left">
          <label  for="UserName">Title</label>

          <input name="title"
                 ngModel
                 required
                 class="form-control"
                 type="text" id="UserName"
                 placeholder="">

          <label for="DescriptionTextArea">Description</label>
          <textarea class="form-control"
                    ngModel
                    required
                    name="description"
                    rows="5"
                    id="DescriptionTextArea"></textarea>

          <!--time selection-->
          <div id="DateTimeFormInputGroup" class="form-row mb-2">
            <div class="col">
              <label for="StartDatePicker">Start time</label>
              <input type="datetime-local"
                     ngModel
                     name="start_time"
                     class="form-control"
                     id="StartDatePicker">
            </div>

            <div class="col">
              <label for="EndDatePicker">End time</label>
              <input type="datetime-local"
                     ngModel
                     name="end_time"
                     class="form-control"
                     id="EndDatePicker">
            </div>

          </div>

          <div class="form-row">
            <div class="col-sm">
              <label>Problems</label>
              <app-problem-selector></app-problem-selector>
            </div>

          </div>

          <label for="ContestType">Type</label>
          <select
            name="contest_type"
            [ngModel]
            #contest_type_selector
            id="ContestType"
            class="form-control mb-2">
            <option selected value="select">Select</option>
            <option value="private">Private</option>
            <option value="public">Public</option>
          </select>

          <!--// todo fix visibility-->
          <!--<div id="PasswordInputContainer" [ngClass]="{'hidden' : contest_type != 'private'}">-->
          <div id="PasswordInputContainer">
            <label for="Password">Password</label>
            <input id="Password"
                   ngModel
                   type="password"
                   name="password"
                   class="form-control">

            <label for="ConfirmPassword">Confirm password</label>
            <input id="ConfirmPassword"
                   ngModel
                   type="password"
                   name="confirm_password"
                   class="form-control">
          </div>

        </div>

        <button type="submit"
                class="btn btn-primary mt-3"
                (click)="createBtnClickHandler(contest_form)">
          Create
        </button>

      </form>

    </div>

  </div>
</div>
