<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4 class="h4">Edit contest</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <app-error-message-list
        [error_messages]="error_messages">
      </app-error-message-list>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <form
        class="text-right"
        (submit)="formSubmitHandler(contest_form)"
        #contest_form="ngForm">
        <div id="InputContainer" class="text-left">
          <label for="UserName">Title</label>

          <input name="Title"
                 [ngModel]="contest_data.Title"
                 required
                 class="form-control"
                 type="text" id="UserName"
                 placeholder="">

          <label for="DescriptionTextArea">Description</label>
          <quill-editor
            class="form-control"
            [ngModel]="contest_data.Description"
            required
            name="Description"
            id="DescriptionTextArea">
          </quill-editor>

          <!--time selection-->
          <div id="DateTimeFormInputGroup" class="form-row mb-2">
            <div class="col">
              <label for="StartDatePicker">Start time</label>
              <input type="datetime-local"
                     [ngModel]="contest_data.StartDate"
                     name="StartDate"
                     class="form-control"
                     id="StartDatePicker">
            </div>

            <div class="col">
              <label for="EndDatePicker">End time</label>
              <input type="datetime-local"
                     [ngModel]="contest_data.EndDate"
                     name="EndDate"
                     class="form-control"
                     id="EndDatePicker">
            </div>

          </div>

          <div class="form-row">
            <div class="col-sm">
              <label>Problems</label>
              <app-problem-selector
                [problem_list]="problem_list"
                #ProblemSelector>
              </app-problem-selector>
            </div>

          </div>

          <label for="ContestType">Type</label>
          <select
            #contest_type
            name="IsPublic"
            [ngModel]="contest_data.IsPublic"
            #contest_type_selector
            id="ContestType"
            class="form-control mb-2">
            <option #default_contest_type_option value="false">Private</option>
            <option value="true">Public</option>
          </select>

          <!--// todo fix visibility-->
          <div
            [ngClass]="{'d-none' : contest_type.value == 'true'}"
            id="PasswordInputContainer">

            <label for="Password">Password</label>
            <input id="Password"
                   ngModel
                   type="password"
                   name="Password"
                   class="form-control">

            <label for="ConfirmPassword">Confirm password</label>
            <input id="ConfirmPassword"
                   ngModel
                   type="password"
                   name="ConfirmPassword"
                   class="form-control">
          </div>

        </div>

        <button
          type="submit"
          class="btn btn-dark mt-3">
          Update
        </button>

      </form>

    </div>

  </div>
</div>
